body {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 6vh;
}
header ul,
header ul * {
  margin: 0;
  padding: 0;
}
header ul {
  display: table;
  height: inherit;
}

header ul li {
  display: table-cell;
  vertical-align: middle;
  width: auto;
}
header ul li.tighten {
  padding-left: 1rem;
  width: 1%;
}

header,
footer {
  height: 4rem;
  background-color: var(--background);
}

main {
  width: 100vw;
  height: 60vh;
  padding: 1rem;
}
main content {
  display: block;
  background-color: var(--text-color);
  color: var(--background);
  border-color: var(--text-color);
  border-width: thin;
  border-style: solid;
  border-radius: .3rem;
  padding: 5rem;
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
}

article {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}
article content {
  border-color: var(--text-color);
  border-width: thin;
  border-style: solid;
  border-radius: .3rem;
  padding: 1rem;
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
}

article content:hover {
  transform: scale(1.05);
  transition: transform .1s ease;
}
article content {
  transform: scale(1.0);
  transition: transform .1s ease;
}

article#design,
article#blog {
  display: none;
}
footer {
  opacity: .2;
}
code {
  display: block;
  margin-top: .5rem;
}
button {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: .85rem;
}
label {
  display: block;
  font-weight: bold;
  font-size: .9rem;
}
label.timestamp {
  font-family: monospace;
  opacity: .6;
  margin-bottom: .5rem;
}
::-webkit-scrollbar {
  display :none;
}

/*
 * CSS VARIABLE CHANGES
 */

.dark {
  --text-color: LIME;
  --link-color: LIME;
  --bold-color: LIME;
  --background: rgb(45,45,51);
}

.light {
  --text-color: DIMGRAY;
  --link-color: BLUE;
  --bold-color: DIMGRAY;
  --background: WHITE;
}

.console {
  --text-color: WHITE;
  --link-color: CYAN;
  --bold-color: YELLOW;
  --background: BLUE;
}

body {
  background-color: var(--background);
  color: var(--text-color);
}
a {
  color: var(--link-color);
}
b {
  color: var(--bold-color);
}
hr {
  background: var(--text-color);
  background-image: linear-gradient(to right, var(--background), var(--text-color), var(--background));
}
button {
  color: var(--text-color);
}
button > i {
  color: var(--text-color);
}

input {
  padding: 6px;
  border: none;
  background-color: rgb(54,54,60);
  outline: none;
}

/*
* ANIMATION
*/
@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(90deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

 /*
 * MEDIA QUERIES
 */
@media screen and (max-width: 412px) {
  article content {
    grid-row: span 3;
  }
}
