body {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
header {
  position: sticky;
  top: 0;
  z-index: 10;
  margin: 0 1rem;
}
header ul,
header ul * {
  margin: 0;
  padding: 0;
}
header ul {
  display: table;
  height: inherit;
}

header ul li {
  display: table-cell;
  vertical-align: middle;
  width: 98rem;
}
header ul li:first-child,
header ul li:last-child {
  width: 1rem;
}
header,
footer {
  height: 4rem;
  background-color: var(--background);
}

article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}
article content {
  border-color: var(--text-color);
  border-width: thin;
  border-style: solid;
  border-radius: .3rem;
  padding: 1rem;
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
}
article content:first-child {
  background-color: var(--text-color);
  color: var(--background);
  border: none;
}
article content:first-child a {
  color: var(--background);
}
footer {
  opacity: .2;
}
code {
  display: block;
  margin-top: .5rem;
}
button {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}
label {
  display: block;
  font-weight: bold;
  font-size: .9rem;
}
::-webkit-scrollbar {
  display :none;
}

/*
 * CSS VARIABLE CHANGES
 */

.dark {
  --text-color: LIME;
  --link-color: LIME;
  --bold-color: LIME;
  --background: BLACK;
}

.light {
  --text-color: DIMGRAY;
  --link-color: BLUE;
  --bold-color: DIMGRAY;
  --background: WHITE;
}

.console {
  --text-color: WHITE;
  --link-color: CYAN;
  --bold-color: YELLOW;
  --background: BLUE;
}

body {
  background-color: var(--background);
  color: var(--text-color);
}
a {
  color: var(--link-color);
}
b {
  color: var(--bold-color);
}
hr {
  background: var(--text-color);
  background-image: linear-gradient(to right, var(--background), var(--text-color), var(--background));
}
button {
  color: var(--text-color);
}
button > i {
  color: var(--text-color);
}

/*
* ANIMATION
*/
@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(90deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

 /*
 * MEDIA QUERIES
 */
@media screen and (max-width: 412px) {
  article content {
    grid-row: span 3;
  }
}
